

# exclude everything
archive_sim/*
archive_data/*

archive_data_29_07
archive_sim_29_07

# exception to the rule
!archive_sim/.gitkeep
!archive_data/.gitkeep 

*.asv

*.mat

*.avi

*.bmp

*.png

!mesh_boar_cloak.mat
!mesh_boar_cloak_fine.mat
!mesh_circular_cloak.mat
!mesh_circular_cloak_coarse.mat
!mesh_disconnected_cloak.mat

